select {
    background-color: #fff;
    height: 1.5rem;
    width: 8rem;
    font-family: $openSans;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    margin-top: 1rem;
} //drop-down option
.background {
    display: flex;
    height: 400px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: 50%;
} //article background image 
.abstract {
    color: $fontWhite;
    font-family: $openSans;
    font-weight: 300;
    font-style: normal;
    font-size: $fontSize;
    position: absolute;
    margin-top: 20em;
    background: linear-gradient(180deg, rgba(0, 0, 0, .50) 0, rgba(0, 0, 0, .50));
    line-height: 1.25em;
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    flex: wrap;
    justify-content: center;
} //paragraph of articles
.news {
    width: 100%;
    height: auto;
    li {
        width: 100%;
        flex-basis: 50%;
    }
}

.loader {
    display: none;
} //animation
.gif-loader {
    height: 100px;
    margin: 0 auto;
    display: block;
}

.news {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;
    }
    li {
        @include desktop {
            flex-basis: 25%;
        }
    }
}