.front-page {
  height: 90vh;  //100vh is full screen, 10vh footer 
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
      @include tablet {  //@include = @content in mixins
        flex-flow: row;
        text-align: center;
      }
      @include desktop {
        justify-content: flex-start;
      }
}
.header1 {
  padding-top: 1rem;
  font-family: $openSans;
	font-weight: 300;
	font-style: normal;
  color: $fontWhite;
  font-size: $fontSize;
}
.shrink {
  height: 75px;
  transition: .75s;
  padding-top: 7rem;

    img {
      height: 75px;
   }

    .news-grid {
      margin-top: 1rem;
      padding-bottom: 7rem;
    }
}
.shrink img {
  @include tablet {
    height: 55px;
    margin-bottom: 4rem;
  }
  @include desktop {
    margin: 0rem 4rem 5rem 0rem;
    height: 76px;
  }

}  //shrink close 